* {
  cursor: default;
  color: rgb(94, 93, 93);
}
/* style whole popup */
.tab-container {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  /* set up popup position */
  position: absolute;
  z-index: 9999;
  top: 70px;
  right: 180px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
}

/* style tab header */
.tab__header {
  border-bottom: 1px solid rgb(196, 191, 191);
}
.tab__header .tab__label {
  text-align: center;
}
.tab__header .tab__label::before {
  content: url("../../../../../../assets/images/shared/envelope-regular.svg");
  width: 30px;
  height: 30px;
  margin-right: 10px;
  position: relative;
  top: 10px;
}
/* style tab content */
.tab__content {
  max-width: 300px;
  max-height: 300px;
  min-height: 260px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}
.tab__content__clear {
  padding: 40px 50px;
}
.tab__content__clear img {
  margin-left: 50px;
}
.tab__content ul {
  flex-basis: 100%;
  padding: 5px 0px 0px 16px;
  display: flex;
  flex-wrap: wrap;
  max-height: 1000px;
  color: rgba(0, 0, 0, 0.65);
  border-bottom: 0.5px solid rgba(173, 171, 171, 0.5);
}
.tab__content ul:hover {
  cursor: pointer;
  color: rgb(51, 50, 50);
  background: rgb(190, 224, 243);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
}
.isRead {
  background: rgb(216, 222, 226);
}
.tab__content ul li {
  margin: 5px 5px 5px 0;
  color: rgb(117, 115, 115);
  list-style-type: none;
  line-height: 1;
  flex-basis: 100%;
}
.tab__content ul li:last-child {
  font-size: 12px;
  text-align: end;
}
.tab__read__more,
.tab__packup {
  color: blue;
  letter-spacing: 1.2;
}
.tab__read__more:hover {
  cursor: pointer;
}
.tab__packup {
  margin: 0 20px;
  font-size: 16px;
}
.tab__packup:hover {
  cursor: pointer;
}
/* style tab footer */
.tab__footer {
  border-top: 1px solid rgb(196, 191, 191);
  max-height: 40px;
}
.tab__footer .tab__clear {
  text-align: center;
  margin-top: 8px;
}
.tab__footer .tab__clear:hover {
  color: rgb(51, 50, 50);
  font-weight: bold;
  cursor: pointer;
}
/* media query */
@media only screen and (min-width: 1441px) {
  .tab__content {
    max-width: 350px;
    max-height: 350px;
    min-height: 280px;
  }
}
