<header class="header">
  <nav class="navbar navbar-expand navbar-light d-flex justify-content-between"
    style="padding-left:20px;padding-right: 20px;">
    <ul class="navbar-nav">
      <li class="nav-item order-0 order-md-0 order-lg-0">
        <a class="navbar-brand" href="#">
          Able Music Studio
        </a>
      </li>
      <li class="navbar-itme order-lg-1" (click)="hideSideBar()">
        <a class="d-none d-lg-block navbar-nav ">
          <i style=" cursor: pointer;" class="fas fa-bars fa-lg "></i>
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <!-- user -->
      <li class="nav-item">
        <a class="navbar-user" style="float: left; padding-right:4px;">
          <img src="{{userDetail.img}}" alt="..." class="img-fluid rounded-circle">
        </a>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          data-target="dropdown-target" aria-haspopup="true" aria-expanded="false">
          {{userDetail.firstName}} {{userDetail.lastName}}
          <span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown-target">
          <a (click)="changePassword()" class="dropdown-item change-pass" style="cursor: pointer;">Change Password</a>
          <a (click)="logout()" class="dropdown-item logout d-sm-block d-lg-none">
            <span>Logout</span>
            <i class="fas fa-sign-out-alt" style="margin-left: 10px;"></i>
          </a>
        </div>
      </li>
      <!-- notifications -->
      <li class="nav-item-notification">
        <a (click)="handleNotificationPopup($event)">
          <span class="icon icon-bell"></span>
          <span class="msg-number" [class.invisible]="isCleared">{{msgNumber}}</span>
        </a>
        <!-- dropdown menu -->
        <app-notification-popup [closeNotification]="closeNotification" (sendMsgNumber)="msgNumber = $event"
          (sendIsCleared)="isCleared = $event">
        </app-notification-popup>
      </li>
      <!-- logout -->
      <li class="nav-item d-none d-lg-block">
        <a (click)="logout()" class="nav-link logout">
          <span>Logout</span>
          <i class="fas fa-sign-out-alt" style="margin-left: 10px;"></i>
        </a>
      </li>
    </ul>
  </nav>

</header>