/*
* ==========================================================
*     MAIN NAVBAR
* ==========================================================
*/
nav.navbar {
  background: #2f333e;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  position: relative;
  border-radius: 0;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding-left: 0;
  padding-right: 0;
  /*==== Toggle Sidebar Btn ====*/
  /*==== Navbar Items ====*/
  /*==== Search Box ====*/
  /*==== Dropdowns ====*/
}

.nav {
  margin-left: 10px;
  margin-right: 10px;
}

nav.navbar .badge {
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  font-weight: 400;
}

.navbar li {
  list-style-type: none;
}

.navbar-itme {
  margin: auto 0;
}

.navbar-user img {
  width: 42px;
  height: 42px;
}

nav.navbar a {
  color: inherit;
  padding-right: 50px;
}

nav.navbar .nav-link {
  /* position: relative; */
}

nav.navbar .nav-link span.badge-corner {
  /* position: absolute;
  top: 0;
  right: 0; */
  font-weight: 400;
  font-size: 0.7em;
}

.change-pass,
.nav-link {
  cursor: pointer;
}

nav.navbar .nav-menu {
  margin-bottom: 0;
}

/*Search-box*/
nav.navbar .search-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background: #fff;
  z-index: 12;
  border-radius: 0;
  display: none;
}

nav.navbar .search-box .dismiss {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #999;
}

nav.navbar .search-box form {
  height: 100%;
}

nav.navbar .search-box form input {
  height: 100%;
  border: none;
  padding: 20px;
}

/*Dropdown-menu*/
nav.navbar .dropdown-menu {
  /* min-width: 250px; */
  left: auto;
  margin-bottom: 0;
  padding: 15px 0;
  /* max-width: 400px; */
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1),
    -2px 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
}

.dropdown-menu .dropdown-item {
  /* background: #fff; */
  padding: 10px 20px;
  font-size: 0.8rem;
  color: #777;
  width: 100%;
  margin-right: 10px;
}

/* nav.navbar .dropdown-menu .dropdown-item:hover {
  background: #f5f5f5;
} */

/* nav.navbar .dropdown-menu .dropdown-item i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #796AEE;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  margin-right: 10px;
} */

nav.navbar .dropdown-menu .dropdown-item small {
  /* margin-left: 40px; */
}

nav.navbar .dropdown-menu span {
  /* position: static; */
  font-size: 0.9em;
  color: #999;
}

nav.navbar .dropdown-menu strong {
  font-weight: 700;
}

nav.navbar .dropdown-menu .msg-profile {
  /* width: 45px;
  height: 45px;
  margin-right: 10px; */
}

nav.navbar .dropdown-menu h3 {
  font-weight: 500;
}

/*Bell style*/
.bg-red {
  background: #ff7676 !important;
  color: #fff;
}

.bg-red:hover {
  color: #fff;
}

.bg-orange {
  background: #ffc36d !important;
  color: #fff;
}

.bg-orange:hover {
  color: #fff;
}

/* bell icon */
.icon {
  display: inline-block;
  width: 28px;
  height: 30px;
  background: white;
  mask-size: cover;
  position: relative;
  top: 5px;
}
.msg-number {
  display: block;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  position: relative;
  bottom: 40px;
  left: 14px;
  text-align: center;
}
.icon:hover {
  background: rgb(104, 102, 102);
  cursor: pointer;
}
.icon-bell {
  mask: url("../../../../../assets/images/shared/notification-bell.svg");
  mask-repeat: no-repeat;
}
/* notification */
.nav-item-notification {
  max-width: 40px;
  max-height: 40px;
}
